@font-face{
    font-family: "LETRA_CABECERA";
    font-size: 18px;
    src:url(../..//assets/fonts/arriba.otf)
}

page-principal {


    h6{
        color:#C12859;
        font-family: "LETRA_CABECERA";
    }

    p
    {
        font-weight: 900;
    }   


    //Codigo del fondo
    ion-content {
        background-image: url("../assets/imgs/fondo_1.png");
        background-size: cover;
        background-position: center;
    }
}