@font-face{
    font-family: "LETRA_CABECERA";
    font-size: 18px;
    src:url(../..//assets/fonts/arriba.otf)
}

page-reserva{
    

     h6{
        color:#C12859;
        font-family: "LETRA_CABECERA";
    }
    
   p
    {
        color:#000000;
    
    }   
    
    ion-label {
        font-weight: 900;
    }
    ion-input{
        font-weight: 900;
    }
    ion-select{
        font-weight: 300;
    }
    ion-datetime{
        font-weight: 900;
    }

  ion-content {
    background-image: url("../assets/imgs/fondo_1.png");
    background-size: cover;
    background-position: center;
}



.forecast_container{
        overflow-x: scroll!important;
        word-wrap: break-word;
        
        font-size:0.8em;
        font-weight:500
}
}