<ion-header>
    <ion-navbar>
        <h6 align="left">Mis multas </h6>
    </ion-navbar>
</ion-header><ion-content padding>
    <ion-card *ngFor="let lista of tarje">
        <ion-item >
            <ion-avatar item-start>
                <img src="{{lista.foto}}">
            </ion-avatar>                 
        </ion-item>
        <br>
        <div *ngIf="lista.multa> '0'" >
        <p> ud cuenta con una multa de $ {{lista.multa}}  se le recomineda acercarse a la bilbioteca para el pago de la multa</p>
        </div>
        <div *ngIf="lista.multa== '0'" >
        <p> Ud no tiene multas en este momento</p>
        </div>   
    </ion-card>
</ion-content>
<ion-footer>
    <ion-navbar>
        <img src="assets/imgs/abajo.png">
    </ion-navbar>
</ion-footer>