@font-face{
    font-family: "LETRA_CABECERA";
    font-size: 18px;
    font-weight: 900;
    src:url(../..//assets/fonts/SoccerLeague-Italic.ttf)
}

page-home {
    h6{
        color:#C12859;
        font-family: "LETRA_CABECERA";
    }
    ion-input{
        font-weight: 900;
        color:#000000  
    }   
    ion-label {
        font-weight: 900;
    }
}

    //Codigo del fondo
    ion-content {
        background-image: url("../assets/imgs/fondo_1.png");
        background-size: cover;
        background-position: center;
    }


