<ion-header>
    <ion-navbar>
        <ion-title>
            <h6 align="left">RECUPERE SU CLAVE</h6>
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <form [formGroup]="formula">
        <ion-list>
            <ion-item>
                <ion-icon name="card" item-start></ion-icon>
               <ion-label color="negro" stacked>Código:</ion-label>
                <ion-input formControlName="codigo" type="number" placeholder="Código"></ion-input>
            </ion-item>            
            <ion-item *ngIf="formula.get('codigo').errors && formula.get('codigo').dirty">
                <p color="danger" ion-text *ngIf="formula.get('codigo').hasError('required')">Este campo es requerido</p>
                <p color="danger" ion-text *ngIf="formula.get('codigo').hasError('pattern')">Por favor escriba solo números</p>
                <p color="danger" ion-text *ngIf="formula.get('codigo').hasError('minlength')">Por favor escriba mínimo 6 caracteres</p>
                <p color="danger" ion-text *ngIf="formula.get('codigo').hasError('maxlength')">Por favor escriba máximo 20 caracteres</p>
            </ion-item>
            <ion-item>
                <ion-icon name="mail" item-start></ion-icon>
                <ion-label  color="negro" stacked>Correo:</ion-label>
                <ion-input formControlName="emailPrincipal" type="email" placeholder="Correo"></ion-input>
            </ion-item>

            <ion-item *ngIf="formula.get('emailPrincipal').errors && formula.get('emailPrincipal').dirty">
                <p color="danger" ion-text *ngIf="formula.get('emailPrincipal').hasError('required')">Este campo es requerido</p>
                <p color="danger" ion-text *ngIf="formula.get('emailPrincipal').hasError('email')">Este correo no es válido</p>
            </ion-item>

        </ion-list>
        <div padding>
            <button ion-button full block  [disabled]="!formula.valid"  (click)="olvido()">Enviar</button>
        </div>
    </form>
</ion-content>
<ion-footer>
    <ion-navbar>
        <img src="assets/imgs/abajo.png">
    </ion-navbar>
</ion-footer>
