
<ion-header>

    <ion-navbar>
        <ion-title>Registro</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="myForm">
        <ion-list>
            <ion-item>
                <ion-icon name="person" item-start></ion-icon>
                <ion-label stacked>Nombre:</ion-label>
                <ion-input formControlName="nombre" type="text" placeholder="Nombre"></ion-input>
            </ion-item>
            <ion-item *ngIf="myForm.get('nombre').errors && myForm.get('nombre').dirty">
                <p color="danger" ion-text *ngIf="myForm.get('nombre').hasError('required')">Este campo es requerido</p>
                <p color="danger" ion-text *ngIf="myForm.get('nombre').hasError('pattern')">Por favor escriba solo letras</p>
                <p color="danger" ion-text *ngIf="myForm.get('nombre').hasError('minlength')">Por favor escriba mínimo 3 caracteres</p>
            </ion-item>

            <ion-item>
                <ion-icon name="person" item-start></ion-icon>
                <ion-label stacked>Apellido:</ion-label>
                <ion-input formControlName="apellido" type="text" placeholder="Apellido"></ion-input>
            </ion-item>
            <ion-item *ngIf="myForm.get('apellido').errors && myForm.get('apellido').dirty">
                <p color="danger" ion-text *ngIf="myForm.get('apellido').hasError('required')">Este campo es requerido</p>
                <p color="danger" ion-text *ngIf="myForm.get('apellido').hasError('pattern')">Por favor escriba solo letras</p>
                <p color="danger" ion-text *ngIf="myForm.get('apellido').hasError('minlength')">Por favor escriba mínimo 3 caracteres</p>
            </ion-item>




            <ion-item>
                <ion-icon name="card" item-start></ion-icon>
                <ion-label stacked>Código:</ion-label>
                <ion-input formControlName="codigo" type="number" placeholder="Código"></ion-input>
            </ion-item>            
            <ion-item *ngIf="myForm.get('codigo').errors && myForm.get('codigo').dirty">
                <p color="danger" ion-text *ngIf="myForm.get('codigo').hasError('required')">Este campo es requerido</p>
                <p color="danger" ion-text *ngIf="myForm.get('codigo').hasError('pattern')">Por favor escriba solo numeros</p>
                <p color="danger" ion-text *ngIf="myForm.get('codigo').hasError('minlength')">Por favor escriba mínimo 6 caracteres</p>
                <p color="danger" ion-text *ngIf="myForm.get('codigo').hasError('maxlength')">Por favor escriba máximo 10 caracteres</p>
            </ion-item>

            <ion-item>
                <ion-icon name="call" item-start></ion-icon>
                <ion-label stacked>Télefono:</ion-label>
                <ion-input formControlName="telefonoPrincipal" type="text" placeholder="Télefono"></ion-input>
            </ion-item>
            <ion-item *ngIf="myForm.get('telefonoPrincipal').errors && myForm.get('telefonoPrincipal').dirty">
                <p color="danger" ion-text *ngIf="myForm.get('telefonoPrincipal').hasError('required')">Este campo es requerido</p>
                <p color="danger" ion-text *ngIf="myForm.get('telefonoPrincipal').hasError('minlength')">Por favor escriba mínimo 7 caracteres</p>
                <p color="danger" ion-text *ngIf="myForm.get('telefonoPrincipal').hasError('maxlength')">Por favor escriba máximo 20 caracteres</p>
            </ion-item>

            <ion-item>
                <ion-icon name="home" item-start></ion-icon>
                <ion-label stacked>Dirección:</ion-label>
                <ion-input formControlName="direccion" type="text" placeholder="Dirección"></ion-input>
            </ion-item>
            <ion-item *ngIf="myForm.get('direccion').errors && myForm.get('direccion').dirty">
                <p color="danger" ion-text *ngIf="myForm.get('direccion').hasError('required')">Este campo es requerido</p>
            </ion-item>




            <ion-item>
                <ion-icon name="calendar" item-start></ion-icon>
                <ion-label stacked>Fecha de Nacimiento:</ion-label>
                <ion-datetime  formControlName="fechaNacimiento" displayFormat="YYYY/MM/DD" placeholder="Fecha de Nacimiento" ></ion-datetime>
            </ion-item>

            <ion-item *ngIf="myForm.get('fechaNacimiento').errors && myForm.get('fechaNacimiento').dirty">
                <p color="danger" ion-text *ngIf="myForm.get('fechaNacimiento').hasError('required')">Este campo es requerido</p>
            </ion-item>





            <ion-item>
                <ion-icon name="contacts" item-start></ion-icon>
                <ion-label stacked>Genero:</ion-label>
                <ion-select formControlName="sexo" placeholder="Genero">      
                    <ion-option value="1">Masculino</ion-option>
                    <ion-option value="0">Femenino</ion-option>

                </ion-select>
            </ion-item>
            <ion-item *ngIf="myForm.get('sexo').errors && myForm.get('sexo').dirty">
                <p color="danger" ion-text *ngIf="myForm.get('sexo').hasError('required')">Este campo es requerido</p>
            </ion-item>






            <ion-item>
                <ion-icon name="mail" item-start></ion-icon>
                <ion-label stacked>Correo:</ion-label>
                <ion-input formControlName="emailPrincipal" type="email" placeholder="Correo"></ion-input>
            </ion-item>

            <ion-item *ngIf="myForm.get('emailPrincipal').errors && myForm.get('emailPrincipal').dirty">
                <p color="danger" ion-text *ngIf="myForm.get('emailPrincipal').hasError('required')">Este campo es requerido</p>
                <p color="danger" ion-text *ngIf="myForm.get('emailPrincipal').hasError('email')">Este correo no es válido</p>
            </ion-item>








            <ion-item>
                <ion-icon name="eye-off" item-start></ion-icon>
                <ion-label stacked>Contraseña:</ion-label>
                <ion-input formControlName="contrasena" type="password" placeholder="Contraseña"></ion-input>
            </ion-item>

            <ion-item *ngIf="myForm.get('contrasena').errors && myForm.get('contrasena').dirty">
                <p color="danger" ion-text *ngIf="myForm.get('contrasena').hasError('required')">Este campo es requerido</p>
                <p color="danger" ion-text *ngIf="myForm.get('contrasena').hasError('minlength')">Minimo 6 caracteres</p>
            </ion-item>  

            <ion-grid>
                <ion-row>
                    <ion-item>
                        <ion-icon name="camera" item-start></ion-icon>
                        <ion-label stacked>Insertar Foto:</ion-label>    
                    </ion-item>
                </ion-row>
                <ion-row>
                    <ion-col col-6><button ion-button color="light" clear  (click)="ActivarCAM()">Tomar Foto</button></ion-col>
                    <ion-col col-6><button ion-button color="light" clear  (click)="BuscarSD()">Subir Imagen</button> </ion-col>
                </ion-row>
                <div text-center>
                    <img src= "{{foto}}" width="50">
                </div>
            </ion-grid>





        </ion-list>
        <div padding>
            <button ion-button block type="submit" [disabled]="!myForm.valid" (click)="Insertar()">Registrar</button>
            
        </div>
    </form>
</ion-content>   