<ion-header>
    <ion-navbar>
        <h6 align="left">Mis Reservas </h6>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-card *ngFor="let lista of tarje">
        <ion-item >
            <ion-avatar item-start>
                <img src="{{lista.foto}}">
            </ion-avatar>
            <h2>{{lista.titulo}}</h2>
            <p># {{lista.isbn}}</p>

            <div *ngIf="lista.actividad== '2'" ><p>En préstamo</p></div>             
        </ion-item>
        <img src="{{lista.imagen}}" width="25" height="200"    >
        <ion-card-content>
            <p>{{lista.resena}}</p>
        </ion-card-content>
        <ion-row>
            <div *ngIf="lista.actividad== '1'" >
                <ion-col>
                    <ion-item>
                        <p>Dia reserva</p>
                        <p>{{lista.diaReserva}}</p>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <p>Dia entrega</p>
                        <p>{{lista.diaEntrega}}</p>
                    </ion-item>
                </ion-col>
            </div> 

            <div *ngIf="lista.actividad== '2'" >
                <ion-col>
                    <ion-item>
                        <p>Dia Prestamo</p>
                        <p>{{lista.diaPrestamo}}</p>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <p>Dia entrega</p>
                        <p>{{lista.diaEntrega}}</p>
                    </ion-item>
                </ion-col>
            </div> 



            <ion-col center text-center>
                <ion-note>
                    <div *ngIf="lista.actividad== '1'" > 
                        <button ion-button icon-left clear small (click)="cancelar(lista.idPrestamo)">
                                <div>Cancelar Reserva</div>
                        </button>
                    </div>     
                    <div *ngIf="lista.actividad== '2'" > 
                        <div *ngIf="lista.renovacion== '1'" > 
                            <button ion-button icon-left clear small (click)="renovacion(lista.idPrestamo)">
                                    <div>Renovacion</div>
                            </button>
                        </div>  </div>
                </ion-note>
            </ion-col>
        </ion-row>
    </ion-card>
</ion-content>
<ion-footer>
    <ion-navbar>
        <img src="assets/imgs/abajo.png">
    </ion-navbar>
</ion-footer>